header.header
	.container
	.header__text-block
		p.header__red-text Только сегодня скидка -73%!
		p.header__text До окончания акции осталось:

	ul.timer.timer-header
		li
			span#days 
			span дней
		li
			span#hours 
			span часов
		span.colon  :			
		li
			span#minutes 
			span минут
		span.colon  :			
		li
			span#seconds 
			span секунд