section.item
  .container
    .item__rox-clock
    .item__name-block
      p армейские часы «rox»
      p стильный аксессуар для настоящих мужчин
    .price
      .price__old
        p Старая цена
        del 12460 р.
      .price__new
        p Новая цена
        p 3490 р.
      button.btn-order Заказать со скидкой
div.pattern