section.item
  .container
    .item__rox-clock
    .item__info
      .item__name-block
        p армейские часы «rox»
        p стильный аксессуар для настоящих мужчин

      .price
        .price__old
          p Старая цена
          del 12460 р.
        .price__new
          p Новая цена
          p 3490 р.
        button.btn-order Заказать со скидкой

    .item__photos
      img(src="img/photo-1.jpg", alt="")
      img(src="img/photo-2.jpg", alt="")
      img(src="img/photo-3.jpg", alt="")
div.pattern