.item {
  position: relative;
  min-height: 330px;
  min-height: 600px;
  background: url(../img/item-bg.jpg) top no-repeat;
  text-align: center;
  @media (min-width: 640px) {
    min-height: 475px;
    background: url(../img/item-640-bg.jpg) center no-repeat;
  }
  &>.container {
    @media (min-width: 640px) {
      position: relative;
      min-height: 475px;
    }
  }
  &__info {
    @media (min-width: 640px) {
      position: absolute;
      top: 21%;
      right: -2%;
      content: "";
      width: 320px;
      min-height: 275px;
      text-align: left;
      &::before {
        position: absolute;
        top: -26%;
        left: 0;
        content: "";
        width: 162px;
        min-height: 57px;
        background: url(../img/rdxi.png) top no-repeat;
      }
      &::after {
        @media (min-width: 800px) {
          position: absolute;
          top: 43%;
          right: -15%;
          content: "";
          width: 44px;
          min-height: 104px;
          background: url(../img/curve-arrow.png) top no-repeat;
        }
      }
    }
  }
  &__rox-clock {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -177px;
    width: 320px;
    min-height: 330px;
    background: url(../img/rox.png) no-repeat;
    background-position: -29px -73px;
    @media (min-width: 640px) {
      min-height: 397px;
      top: 0%;
      left: -12%;
      margin-left: 0;
      background-position: -29px -39px;
      width: 364px;
    }
  }
  &__name-block {
    position: absolute;
    bottom: 184px;
    left: 0;
    right: 0;
    padding-top: 13px;
    padding-bottom: 9px;
    background-color: #6b6b35;
    color: #fff;
    font-family: "Museo Sans Cyrl -300";
    font-size: 22px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: .22px;
    @media (min-width: 640px) {
      background-color: transparent;
      display: block;
    }
  }
  &__name-block p:first-child {
    font-family: "Museo Sans Cyrl -900";
    text-transform: uppercase;
    line-height: 39px;
  }
  &__name-block p:last-child {
    width: 260px;
    margin: 0 auto;
    @media (min-width: 640px) {
      text-align: left;
      margin: 0;
    }
  }
  &__photos {
    display: none;
    position: absolute;
    bottom: -16%;
    left: 50%;
    margin-left: -318px;
    width: 644px;
    border: 1px solid white;
    border-top: 4px solid #FFF;
    border-bottom: 3px solid #FFF;
    @media (min-width: 640px) {
      display: block;
    }
    & img {
      display: inline-block;
      vertical-align: top;
      border: 1px solid white;
    }
  }
}

.price {
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  min-height: 185px;
  padding-top: 13px;
  padding-bottom: 23px;
  background-color: #38392a;
  font-family: "Museo Sans Cyrl -300";
  font-size: 20px;
  color: #ffffff;
  @media (min-width: 640px) {
    background: transparent;
    display: block;
  }
  &__old {
    margin-right: 36px;
    font-family: "Museo Sans Cyrl -500";
    @media (min-width: 640px) {
      text-align: center;
    }
  }
  &__old,
  &__new {
    display: inline-block;
    vertical-align: top;
  }
  &__old del,
  &__new p:last-child {
    font-size: 36px;
  }
  &__new p:last-child {
    color: #cbcb75;
    font-family: "Museo Sans Cyrl -900";
  }
}

.pattern {
  width: 100%;
  min-height: 61px;
  margin: 0 auto;
  background: #e5e5e5 url(../img/ep_naturalwhite.png) repeat;
  @media (min-width: 640px) {
    min-height: 150px;
  }
}